body::before {
    content: "⚠ External CSS Injection Successful";
    background: red;
    color: white;
    font-size: 20px;
    display: block;
    padding: 10px;
    z-index: 999999;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
}


